@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
header{
    /* shadow for header */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px; */
    position:sticky;
    background: white;
    top: 0;
    height:66px;
}
nav{
    font-size: 12px;
    padding-top: 14px;
}
.left{
    display: flex;
}
.left img{
    width: 32px;
    height: 23px;
}
.container{
    /* padding: 0 120px; */

    /* margin: auto; */
    /* margin: 13px 0; */
    /* max-width: 80vw; */
    padding: 0 10vw;
}

.left ul li{
    text-decoration: none;
    list-style:none;
    padding: 0 12px;
}
.section1{
    background-color: rgb(226, 228, 238);
    /* height: 132vh; */
}
.search{
    width: 20vw;
    padding: 7px 17px;
    border: 0.5px solid gray;
    background: #f7f8fd;
    border-radius: 5px;
}
.homeImage{
    width: 80vw;
    padding: 12px 0;
}
.itemImage{
    width: 10vw;
    height: 12vw;
    margin: 5px 7px;
    /* margin: 6px 12px; */
}
footer p{
    /* margin-top:50px;
    padding-top: 0 50px; */
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}